**/dev_test**
**/dev_testing**
**/output/*
TRASH/*
**.png
**.pdf

**__pycache__

datasets_metasurface_cells/dev_libraries/*
datasets_metasurface_cells/libraryClass_dev.py

fourier_layer/core/compute_otf.py 
fourier_layer/private_ms_initialization.py

physical_optical_layer/core/dev_ms_parameterization.py

tests_unit/*