**.pdf
**.png
fourier_layer/core/validation_scripts/**
metasurface_library/core/pregen_lookup_tables**
metasurface_library/core/raw_meta_libraries**
neural_optical_layer/core/trained_MLP_models/**
physical_optical_layer/core/material_index/**